{
  // "presets": [ "@babel/preset-typescript", "@babel/preset-env",],
    "plugins": [
      "./wrap-fns.js",
      "@babel/plugin-transform-typescript",
      "@babel/plugin-transform-modules-commonjs"
    ]

  }
  